[Unit]
Description=Custom Monitor Service (dummy)

[Service]
ExecStart=/usr/bin/tail -F /var/log/custom-monitor/monitor.log
Restart=always

[Install]
WantedBy=multi-user.target